@model List<TypeNew>;
@{
    ViewData["Title"] = "Product Create Page";
    var typeNews = Model;
    var news = ViewBag.New;
}
<h1 class="display-4">Product Create Page</h1>
<form action="/New/Save" method="POST">
    <div class="form-group">
        <label for="Id">Id</label>
        <input type="text" class="form-control" id="Id" name="Id" value="@news.Id" readonly="readonly">
    </div>
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" id="Title" name="Title" value="@news.Title">
    </div>
    <div class="form-group">
        <label for="slug">Slug</label>
        <input type="text" class="form-control" id="Slug" name="Slug" value="@news.Slug">
    </div>
    <div class="form-group">
        <label for="Content">Content</label>
        <input type="text" class="form-control" id="Content" name="Content" value="@news.Content">
    </div>
    <div class="form-group">
        <label for="Quantity">Image</label>
        <input type="text" class="form-control" id="Image" name="Image" value="@news.Image">
    </div>
    <div class="form-group">
        <label for="TypeNew">TypeNew</label>
        <select class="form-control" id="TypeNewId" name="TypeNewId">
            @foreach (var typeNew in typeNews)
            {
                @if (typeNew.Id == news.TypeNewId)
                {
                    <option value="@typeNew.Id" selected="selected">@typeNew.TypeNewName</option>
                }
                else
                {
                    <option value="@typeNew.Id">@typeNew.TypeNewName</option>
                }
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
