@*@model List<New>;*@
@model ProductManager.Models.OrderViewModel;
@{
    ViewData["Title"] = "Bills Page";
    var orders = Model.Orders!;
    var orderTypeToSelect = Model.OrderTypes;
    var optionsToSelect = Model.Options;
    var typeNewName = ViewBag.typeNewName;
}
@using ProductManager.Models;
<div class="text-center">
    <h1 class="display-4">Welcome To Bills Page</h1>
    <form asp-controller="Order" asp-action="Index">  
        <p>
            <select asp-for="TypeGenre" asp-items="orderTypeToSelect">
                    <option value="">All</option>
            </select>

            <select asp-for="OptionsGenre" asp-items="optionsToSelect">
                <option value="">All</option>
            </select>

            Search: <input type="text" name="searchString" />
            <input type="submit" value="Filter" />
        </p>
    </form>

    <table class="table">`
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Image</th>
            <th>CustomerEmail</th>
            <th>OrderCode</th>
            <th>CreatedDate</th>
            <th>OrderTypeName</th>
            @* <th>Option</th> *@
            <th><a href="/Order/Create" class="btn btn-primary">Create</a></th>   
        </thead>
        <tbody> 
            @foreach (var newItem in orders)
            {
                <tr>
                    <td>@newItem.Id</td>
                    <td>@newItem.Name</td>
                    <td style="width:10%"><img src="@newItem.Image" style="width:100%"></img></td>
                    <td>@newItem.CustomerEmail</td>
                    <td>@newItem.OrderCode</td>
                    <td>@newItem.CreatedDate</td>
                    <td>@newItem.OrderType!.OrderTypeName</td>
                    <td>
                    <a href="/Order/Update?id=@newItem.Id" class="btn btn-success">Update</a>  
                        <a href="/Order/Delete?id=@newItem.Id" class="btn btn-danger">Delete</a>
                    </td>
                    @* <td>@newItem.Option</td> *@
                </tr>
            }
        </tbody>
    </table>
</div>
